@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
body {
  background: linear-gradient(
    to right top,
    var(--color-primary2),
    var(--color-primary)
  );
}

.container {
  max-width: 90%;
  padding: 0 50px;
  margin: 0 auto;
  border-radius: 20px;
  color: var(--text-color);
  background: var(--container-background);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
nav .container,
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  border-radius: 10px;
}
nav a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary);
  position: relative;
  transition: 0.6s all;
}
nav a:hover {
  transform: scale(1.2);
  color: var(--text-color);
}
nav a:focus {
  outline: 2px solid var(--color-primary);
  padding: 2px;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
nav a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--color-primary);
  background: linear-gradient(90deg, transparent, var(--color-primary));
  transition: width 0.3s;
}
nav a:hover::after {
  width: 110%;
}
nav a:focus::after {
  width: 0%;
}
.about-me {
  text-align: justify;
  padding: 20px 0 50px 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 800;
  text-align: center;
  padding: 20px;
  color: var(--color-primary);
}
h1,
h4 {
  margin-top: 50px;
  background: var(--h1-background);
  color: transparent;
  -webkit-background-clip: text;
}
hr {
  border: 2px var(--color-primary) solid;
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
}
.picture {
  height: 400px;
  background-image: url("zdjecia/justa.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 0.5fr 2fr;
  grid-template-areas:
    "header header2 header3"
    "ul ul2 ul3";
}
.about-me-list {
  list-style-type: none;
  border-right-style: solid;
  border-right-color: var(--color-primary);
  border-right-width: 3px;
  padding-right: 50px;
  padding-left: 50px;
}
ul:last-of-type {
  border-right-style: none;
  padding-right: 0;
}
.section-li {
  padding-bottom: 15px;
}
.section-li::before {
  content: "•";
  color: var(--color-primary);
}
#header {
  grid-area: header;
}
#header2 {
  grid-area: header2;
}
#header3 {
  grid-area: header3;
}
#ul {
  grid-area: ul;
}
#ul2 {
  grid-area: ul2;
}
#ul3 {
  grid-area: ul3;
}
footer {
  margin-top: 20px;
}
/* Footer container settings on top of this file */
.footer-contact {
  text-decoration: none;
  color: var(--text-color);
}
.footer-social {
  text-align: center;
}
.footer-social ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px 0 0;
}
.footer-social ul li a i {
  align-items: center;
  color: var(--text-color);
  vertical-align: middle;
}
.footer-social ul li a {
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background: var(--footer-social-links-background);
  display: inline-block;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 90px;
}

.bottom-photos {
  margin-bottom: 50px;
}

.img {
  height: 400px;
  margin: 10px;
}
@media only screen and (max-width: 860px) {
  body {
    background: var(--body-background-mobile);
  }

  nav .container {
    flex-direction: column;
  }

  .nav-links {
    width: 100%;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .about-me-list {
    padding: 0;
  }

  .img-container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .bottom-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    height: 300px;
  }
}
@media only screen and (max-width: 577px) {
  .mountains {
    height: 200px;
  }
}
